.root {
    -fx-background-image: url('../../images/background_chientranh.jpg');
    -fx-background-size: cover;
}

.text-color {
    -fx-text-fill: white;
    -fx-font-size: 18px;
}

.border-style {
    -fx-border-color: white;
    -fx-border-width: 2px;
}